project:
  type: website
  output-dir: docs

website:
  title: "IWPP_0802"
  navbar: false
    
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: false
    link-citations: false
    anchor-sections: false

editor: visual

