/* css styles */

.blue-text {
  color: #177aab !important; 
}

.tight-h3-spacing {
  
  margin-top: 5px !important; 
}


.nav-tabs .nav-link {
  color: #6c757d;
  transition: color 0.3s ease;
}


.nav-tabs .nav-link.active {
  color: black !important; 
  font-weight: bold; 
}


.nav-tabs .nav-link:hover {
  color: #177aab !important; 
}

.tab-content * {
  color: #333; 
}

.tab-content p {
  color: #333;
}
.fancy-email {
  color: #177aab; 
}
.container {
    max-width: 90% !important; 
    margin-left: auto !important;
    margin-right: auto !important;
}

.tab-content a {
  color: #333;   
  text-decoration: underline;
  transition: color 0.3s ease;
}

.tab-content a:hover {
  color: #177aab !important; 
  text-decoration: none;
}

a.fancy-email {
  color: #177aab !important;
  text-decoration: none;
}

a.fancy-email:hover {
  color: #177aab !important;
  opacity: 0.7;
}